a{
    color: black;
    text-decoration: none;
}
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    position: relative;
    min-height: 100vh;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
  }
  
body{
    background-color: rgb(196, 188, 188);
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(167, 167, 13);
    padding-top: 3px;
    padding-bottom: 3px;
}
nav ul{
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
nav li{
    display: inline-block;
    text-align: center;
    font-size: 25px;
}
li a{
    text-decoration: none;
    padding: 10px 30px;

}

img{
    width: 320px;
    height: 300px;
}
a{
    text-decoration: none;
}
table{
    width: 80%;
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
 }
 th, td{
    border: 1px solid gray;
    padding: 10px;
    text-align: left;
 }

#textoTriv{
    display: inline-block;
    border-radius: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: gray;
}

#bodyTrivia{
    background-image: url("img/backtrivia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#bodySobreMi{
    background-image: url("img/backSobreMi.png");
    background-repeat: repeat;
    background-position: center;
}

#bodyPlaylist{
    background-image: url("img/backLofi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#boton{
    display: inline-block;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 7%;
    width: auto;
    border-color: black;
    background-color: rgb(167, 167, 13);
}

#botonTexto{
    display: inline-block;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: auto;
    border-color: black;
    background-color: rgb(167, 167, 13);
}

#imgTrivia{
    width: 350px;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
}
.estructura{
    display: flex;
    justify-content: space-between;
}
.caja{
    flex: 1;
    margin: 15px;
    align-items: center;
}